{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}

<section class="section subpage-hero" id="error-hero">
    <div class="hero-section hero">
        <div class="hero-backg" style="background: url(./img/hero-backg/error-backg.png); background-position: center;
        background-size: cover;">
            <div class="text">
                <div class="header">
                    <h1 class="title">Hata: 404</h1>
                    <div class="opacity-title">
                        Aradığınız sayfa bulunamadı, silinmiş ya da adı değişmiş olabilir.
                    </div>
                </div>
                <a href="index.html" class="home-button">
                    Ana Sayfa
                </a>
          </div>
        </div>
    </div>
</section>

{% endblock %}

 