{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div id="cookieModal" class="cookie-modal">
    <div class="cookie-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Çerez Politikası</h2>
      <p>
        Bu web sitesinde çerezler kullanılıyor! Detaylı bilgi için 
        <a href="#">Çerez Politikası</a> içeriğini okuyabilirsiniz.
      </p>
      <div class="cookie-buttons">
        <button class="accept-btn">Kabul et</button>
        <button class="reject-btn">Reddet</button>
      </div>
    </div>
</div>
<section class="section subpage-hero" id="career-hero">
    <div class="hero-section hero">
        <div class="hero-backg" style="background: url(/img/hero-backg/career-backg.png); background-position: center;
        background-size: cover;">
            <div class="text">
                <div class="header">
                    <h1 class="title">Be a part of our journey.</h1>
                    <div class="opacity-title">
                        CAREER
                    </div>
                </div>
          </div>
        </div>
        <div class="bottom-arrow">
            <div class="icon">
                <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 1L11 11.7692L1 1" stroke="white" stroke-linecap="square"/>
                </svg>                    
            </div>
        </div>
    </div>
</section>
<section class="section breadcrumb">
    <div class="container">
        <nav>
            <ol>
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Career</a>
              </li>
            </ol>
          </nav>
    </div>
</section>
<section class="section">
    <div class="design-block subpage-career" id="hr-vision">
        <div class="container">
            <div class="design-card" style="height: 56.8rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">HR VISION / WORK CULTURE</h1>
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </div>
                    <div class="desc">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </div>
                    <div class="desc">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </div>
                </div>
                <div class="img">
                    <img src="/img/card-img/hr.png" width="515" height="568" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="showroom" id="hr-activities">
        <div class="showroom-card">
            <div class="card-img">
                <img src="/img/card-img/ınternship.png" width="1340" height="541" alt="">
            </div>
            <div class="text-card">
                <div class="header">
                    <h1 class="title">INTERNSHIP</h1>
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="design-block subpage" id="placement">
        <div class="container">
            <div class="design-card" style="height: 56.8rem;">
                <div class="text">
                    <div class="header">
                        <h1 class="title">RECRUITMENT & PLACEMENT</h1>
                    </div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </div>
                    <a href="javascript:void(0);" class="card-link card-link-hover">
                        <div class="icon">
                            <img src="/img/icon/right-arrow.svg" alt="">
                        </div>
                        <span>Current Openings</span>
                    </a>
                </div>
                <div class="img">
                    <img src="/img/card-img/placement.png" width="515" height="568" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="header-line">
        <div class="title">JOB AND INTERNSHIP APPLICATION</div>
    </div>
</section>

<section class="section-career-form">
    <div class="container">
        <div class="contact-inputs">
            <div class="input-layout">
                <div class="input-group">
                    <label for="name">NAME</label>
                    <input type="text" id="name" placeholder="Your Name">
                </div>
                <div class="input-group">
                    <label for="surname">SURNAME</label>
                    <input type="text" id="surname" placeholder="Your Surname">
                </div>
                <div class="input-group">
                    <label for="mail">E-MAIL</label>
                    <input type="mail" id="mail" placeholder="Your Email">
                </div>
                <div class="input-group">
                    <label for="phone">PHONE</label>
                    <input type="tel" id="phone" placeholder="Your Phone Number">
                </div>
            </div>
            <div class="input-layout">
                <div class="input-group file">
                    <label for="upload-file">RESUME/CV</label>
                    <a href="javascript:void(0);" class="intext">
                        <span class="upload-icon">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 10.577V1.927L4.17 4.257L3.462 3.539L7 0L10.539 3.539L9.831 4.258L7.5 1.927V10.577H6.5ZM1.616 14C1.15533 14 0.771 13.846 0.463 13.538C0.155 13.23 0.000666667 12.8453 0 12.384V9.961H1V12.384C1 12.538 1.064 12.6793 1.192 12.808C1.32 12.9367 1.461 13.0007 1.615 13H12.385C12.5383 13 12.6793 12.936 12.808 12.808C12.9367 12.68 13.0007 12.5387 13 12.384V9.961H14V12.384C14 12.8447 13.846 13.229 13.538 13.537C13.23 13.845 12.8453 13.9993 12.384 14H1.616Z" fill="#938F8F"/>
                            </svg>                                
                        </span> 
                        <span class="upload-text" id="file-name"> <div class="strong">Select file</div> (PDF or DOC)</span> 
                    </a>
                    <input type="file" id="upload-file" class="file-input" accept=".pdf, .doc, .docx">
                </div>
                <div class="input-group message-group">
                    <label for="message">MESSAGE</label>
                    <input type="text" id="message" placeholder="Your Surname">
                </div>
            </div>
            <div class="buttons">
                <div class="checkbox-group">
                    <a href="javascipt:();" class="checkbox-item">
                        <input type="checkbox" id="gdpr">
                        <div class="box">
                            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                            </svg>                            
                        </div>
                        <label for="gdpr">I have read and agree to the GDPR</label>
                    </a>
                    <a href="javascript:void(0);" class="checkbox-item">
                        <input type="checkbox" id="privacy">
                        <div class="box">
                            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.99614 10L0 6.00386L1.82111 4.18275L3.99614 6.36422L10.3539 0L12.175 1.82111L3.99614 10Z" fill="black"/>
                            </svg>                            
                        </div>
                        <label for="privacy">I have read and agree to the Privacy Policy</label>
                    </a>
                </div>
                <a href="javascript:void(0);" class="submit-button">
                    <button>SUBMIT</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

 