#header {
	display: block;
	width: 100%;
	height: 9.6rem;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9;
	.header{
		width: 100%;
		background-color: #ffffff;
		height: 100%;
		.header-container{
			padding: 2.6rem 5rem;
			margin: 0 auto;
			@include mini{
				padding: 2.6rem 3rem;
			}
			.navbar{
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
			}
			.navbar-menu{
				display: flex;
				align-items: center;
				gap: 1.7rem;
				justify-content: flex-start;
				transition: opacity 500ms ease;
				opacity: 1;
				.menu-title{
					font-size: 1.2rem;
					@include medium;
					line-height: 1.4rem;
					color: #000000;
					@include mini{
						display: none;
					}
				}
				&.active{
					opacity: 0;
				}
			}
			.navbar-right-section{
				display: flex;
				align-items: center;
				gap: 0 2.6rem;
				justify-content: flex-end;
				.language-button{
					span{
						font-size: 1.2rem;
						line-height: 1.4rem;
						color: #000000;
						@include medium;
					}
					
				}
				.search-button{
					position: relative;
				}
				.search-box{
					position: absolute;
					right: 3rem;
					top: 50%;
					transform: translateY(-50%);
					border: .1rem solid rgb(0, 0, 0, .1);
					transition: all 400ms ease;
					border-radius: .5rem;
					padding: 1.2rem;
					padding-right: 0;
					opacity: 0;
					visibility: hidden;
					background-color: #ffffff;
					@include mini{
						padding: 0;
						height: 4.1rem;
					}
					input{
						border: none;
						padding: 0;
						background-color: transparent;
						font-size: 1.3rem;
						line-height: 1.4rem;
						color: #000000;
						@include medium;
						&::placeholder{
							font-size: 1.3rem;
							line-height: 1.4rem;
							color: #000000;
							opacity: .8;
							@include medium;
						}
						@include mini{
							padding: 0 1.2rem;
							width: 100%;
							height: 100%;
						}
					}
					.icon.search-box-link{
						position: absolute;
						right: 1rem;
						top: 50%;
						transform: translateY(-50%);
						
					}
					&.active{
						opacity: 1;
						visibility: visible;
						transform: translateY(-50%) translateX(0);
					}
					@include mini{
						z-index: 2;
						bottom: -10rem;
						top: auto;
						background-color: #ffffff;
						width: 100%;
						right: 0;

					}
				}
			}
		}
		.sidebar{
			position: fixed;
			left: 0;
			top: 0;
			z-index: 2;
			transform: translateX(-100%);
			transition: transform 400ms ease;
			overflow: hidden;
			&.active{
				transform: translateX(0);
			}
			@include md{
				height: 100%;
			}
			@include mini{
				width: 100%;
			}
			.sidebar-box{
				max-width: 48.5rem;
				width: 48.5rem;
				height:100vh;
				background-color: rgb(250, 250, 250, .97);
				position: relative;
				@include bigger-than-xl{
					max-height: 110.3rem;
					height: 110.3rem;
				}
				@include md{
					height: 100%;
					max-height: 100%;
				}
				@include mini{
					width: auto;
				}
				.language-button{
					span{
						font-size: 1.2rem;
						line-height: 1.4rem;
						color: #000000;
						@include medium;
					}
				}
				.sidebar-header{
					height: 9.6rem;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #ffffff;
				}
				.side-bar-brand-logo{
					display: none;
					@include mini{
						display: block;
					}
				}
			}
			.close-toggle{
				position: absolute;
				left: 5.4rem;
				top:4.3rem;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 0 2.2rem;
				cursor: pointer;
				span{
					font-size: 1.2rem;
					line-height: 1.4rem;
					@include medium;
					color: #000000;
				}
				@include md{
					left: 5rem;
				}@include mini{
					left: 3rem;
				}
			}
			.sidebar-menu{
				.sidebar-menu-ul{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					gap: 4rem 0;
					padding-top: 8rem;
					padding-left: 9.6rem;
					padding-right: 3.58rem;
					@include mini{
						padding-left: 5.4rem;
					}
					li.menu-item{
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						a{
							font-size: 2rem;
							line-height: 2.4rem;
							color: #000000;
							@include medium;
							position: relative;
							&::after{
								content: "";
								position: absolute;
								bottom: -.3rem;
								left: 0;
								width: 100%;
								background-color: #000000;
								height: .2rem;
								transform: scaleX(0);
								transition: transform 400ms ease;
							}
						}
						.arrow-icon{
							margin-left: auto;
							transform: translateX(5rem);
							opacity: 0;
							transition: all 400ms ease;
						}
						&:hover{
							a{
								&::after{
									transform: scaleX(1);
								}
							}
							.arrow-icon{
								transform: translateX(0rem);
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	
}
