.breadcrumb{
    width: 100%;
    padding-top: 1.6rem;
    @include bigger-than-xl{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @include xl{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @include mini{
        display: none;
    }
    &.contact{
        .container{
            max-width: 128rem;
        }
    }
    ol{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        opacity: .8;
        li{
            a{
                font-size: 1.2rem;
                line-height: 1.4rem;
                @include light;
                color: #000000;
            }
        }
        span{
            max-width: 1.2rem;
            max-height: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    
    
}